*{
    margin: 0%;
    padding: 0%;
    

}

.login_main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_main .login_form{
    width: 40rem;
    background-color: #979797;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 40rem;
    border-radius: 3%;
}

.login_main .menu_btn{
    
    display: flex;
   
}
.menu_btn button{
    height: 4rem;
   background-color:#B1BED5;
    border: none;
    text-align: center;
    align-items: center;
    justify-content: center;
     flex-grow: 1;
     overflow: hidden;
     display: flex;
     /* margin: 0rem 2rem; */
     border: 1px solid white;
     border-top-left-radius:3% ;
}
#sgn{
    background-color: white;
    border-top: 1px solid  #B1BED5 ;
    border-right: 1px solid #B1BED5;
}
#login{

    width: 9rem;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
}