    :root {
       --main-color :rgb(57 165 114);
    }
    
    
    .service{
        margin: 4rem 3rem;
        background-color:rgb(254 253 209 / 0%);
        border-radius: 1rem;
          box-shadow: 0 -5px 22px rgba(0, 0, 0, 0.1);
    }

    .service .heading {
        text-align: center;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
    .service .heading h1{
        font-size: 3rem;
    }
    .detail_service{
        display: flex;
        padding: 3rem 10rem;

    }
    .left_side{
        margin: 0rem 4rem;
    }
    .left_side img{
        height: 30rem;
    }
    .right_side h1{
       margin-bottom: 2rem;
    }
    .right_side h1 span{
        color: rgb(57 165 114);
    }
    .right_side p{
        font: 300;
        font-size: 1.4rem;
        font-family: sans-serif ;
        margin-bottom: 1rem;
    }
    .right_side p li{
        margin: 1rem 0rem;
    }
    .right_side #learn-btn{
        background-color:var(--main-color);
        border: none;
        margin-top: 1rem;
        height: 2rem;
        width: 6rem;
        color: white;
    }